In [33]:
import nltk
import pandas as pd

In [34]:
with open('artigos.txt', 'r', encoding='utf-8') as f:
    artigos = f.read()

In [35]:
def separa_palavras(lista_tokens):
    lista_palavras = []
    for token in lista_tokens:
        if token.isalpha():
            lista_palavras.append(token)
    return lista_palavras

def normalizacao(lista_palavras):
    """
    Normaliza as palavras em letras minúsculas
    """
    lista_normalizada = []
    for palavra in lista_palavras:
        lista_normalizada.append(palavra.lower())
    return lista_normalizada

In [36]:
lista_tokens = nltk.tokenize.word_tokenize(artigos)
lista_palavras = separa_palavras(lista_tokens)
lista_normalizada = normalizacao(lista_palavras)

In [37]:
lista_tokens = pd.DataFrame(lista_normalizada)
lista_tokens

                  0
0            imagem
1             temos
2                 a
3          seguinte
4            classe
...             ...
405109           de
405110    histerese
405111         pode
405112          ser
405113  visualizado

[405114 rows x 1 columns]

In [38]:
lista_tokens.to_csv('arquivo1.csv', sep=';', index=False)